window#waybar {
    background: transparent;
    color: {{base02}};
    font-size: 9px;
    min-height: 0;
    border-bottom: 2px solid {{base02}};
}
   
* {
    padding-left: 9px;
    padding-right: 9px
}

#custom-cores {
    font-size: 9px;
}

#custom-cores, #cpu {
    color: {{base03}};
}

#temperature, #custom-fan {
    color: {{base06}};
}

#bluetooth, #custom-tailscale {
    color: {{base04}};
}

#workspaces button {
    color: {{base03}};
}
